<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         convertDeprecationsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         stopOnError="true"
>
    <coverage>
        <include>
            <directory>src/</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Cycle: DataMapper and ORM">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
